{% extends '_base.html' %}
{% block content %}
<div class="home">
  <div class="container-md bg-1">
	<div class="jumbotron" style="background-color:transparent">
	  <h1 class="display-4">Quick Response ✕ Flash Card</h1>
	  <p class="lead">最適なタイミングで学習し、文法力と会話力を同時に伸ばしましょう。</p>
	  <hr>
	  <br>
	  <br>
	  <p>通訳養成に使われるQuick Responseは、日本語文を見てすぐに英語に訳す練習方法です。</p>
	  <p>「瞬間英作文」として定着し、学習初期において効果が実感されています。</p>
	  <p>Flash Card（単語カード）にすることでスコアや回数を記録して、さらに効率的に学習できるようにしました。</p>
	  <br>
	  <button class="btn btn-primary" id="start_in_top" type="submit" onclick="location.href='exercise'">試してみる</button>
	  <br>
	  <br>
	  <p class="font-weight-lighter">*日本語で考える癖がついてしまうので、文法項目とフレーズを覚えたあとは、自然な英文に触れることをおすすめします。</p>
	</div>
  </div>
</div>
{% endblock %}
